#restaurant-container {
    border: black solid 5px;
    margin-bottom: 10px;
    
}

#navbar{
    display: flex;
    justify-content: space-between;
    
}
.header{
    background-color: rgb(255, 240, 255);
    box-sizing: border-box;
    width: 100%;
    padding: 30px;
    
}

.navtext {
    margin-right: 10px;
}

body{
   margin: 0;
}