#restaurant-container {
  border: black solid 5px;
  border-radius: 5px;
  margin-top: 10px;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  background-color: rgb(220, 250, 255);
  padding-top: 20px;
  padding-bottom: 20px;
  width: 25%;
}

#navbar {
  display: flex;
  justify-content: space-between;
}
.header {
  background-color: rgb(255, 240, 255);
  box-sizing: border-box;
  width: 100%;
  padding: 30px;
}

#container-text {
  margin-left: 10%;
  padding-bottom: 10px;
}

#comments-button,
#delete-comment-button {
  border-radius: 5px;
  border: solid black 2px;
  width: 25%;
  margin-top: 10px;
  text-align: center;
  background-color: rgb(255, 240, 255);
  font-size: large;
  font-family: 'Times New Roman', Times, serif;

}

#comments-button:hover,
#add-comment:hover,
#rating-button:hover,
#search-button:hover,
#add-restroom-button:hover,
#delete-comment-button:hover {
  cursor: pointer;
  background-color: rgb(255, 223, 255);
}

#comments-button:active,
#add-comment:active,
#search-button:active,
#add-restroom-button:active,
#delete-comment-button:active {
  cursor: pointer;
  background-color: rgb(255, 203, 255);
}


#add-comment {
  border-radius: 5px;
  border: solid black 2px;
  width: 20%;
  margin-top: 10px;
  text-align: center;
  background-color: rgb(255, 240, 255);
}

#rating-button,
#search-button,
#add-restroom-button{
  border-radius: 5px;
  border: solid black 2px;
  width: 10%;
  margin-top: 10px;
  text-align: center;
  background-color: rgb(255, 240, 255);
}

.comment-box {
  border: black solid 5px;
  border-radius: 5px;
  margin-top: 10px;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  background-color: rgb(220, 250, 255);
  padding-top: 20px;
  padding-bottom: 20px;
  width: 25%;
}

.navtext {
  margin-right: 10px;
  display: inline;
}

body {
  margin: 0;
  text-align: center;
}

a {
  color: black;
  text-decoration: none;
}

@media only screen and (max-width: 1265px) {
  .comment-box {
    border: black solid 5px;
    border-radius: 5px;
    margin-top: 10px;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-color: rgb(220, 250, 255);
    padding-top: 20px;
    padding-bottom: 20px;
    width: 50%;
  }

  #restaurant-container {
    border: black solid 5px;
    border-radius: 5px;
    margin-top: 10px;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(220, 250, 255);
    padding-top: 20px;
    padding-bottom: 20px;
    width: 50%;
  }

  #comments-button {
    border-radius: 5px;
    border: solid black 2px;
    width: 75%;
    margin-top: 10px;
    text-align: center;
    background-color: rgb(255, 240, 255);
  }
}

@media only screen and (max-width: 600px) {
  .comment-box {
    border: black solid 5px;
    border-radius: 5px;
    margin-top: 10px;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-color: rgb(220, 250, 255);
    padding-top: 20px;
    padding-bottom: 20px;
    width: 75%;
  }

  #restaurant-container {
    border: black solid 5px;
    border-radius: 5px;
    margin-top: 10px;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(220, 250, 255);
    padding-top: 20px;
    padding-bottom: 20px;
    width: 75%;
  }
}
