<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../static/css/site.css">
  <title>{% block title %}{% endblock %}</title>
</head>
<header class="header">
  <nav id="navbar">
    <a href="/"><img style="height: 50px; width: auto;" src="../static/img/trans flag simple.png"
        alt="image of the trans pride flad"></a>
    <div id="navtext">
      <h2 class="navtext" ><a href="/user">User Profile</a></h2>
      <h2 class="navtext" ><a href="/login">Login</a></h2>
      <h2 class="navtext"><a href="/logout">Logout</a></h2>
    </div>
  </nav>
</header>

<body>
  {% for msg in get_flashed_messages() %}
  <p class="flash-msg">
    {{ msg }}
  </p>
  {% endfor %}
  {% block body %}{% endblock %}
  <script src="../static/js/search.js"></script>
</body>

</html>