<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../static/css/site.css">
  <title>{% block title %}{% endblock %}</title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-standalone/6.26.0/babel.js" crossorigin></script>
  <script src="https://unpkg.com/react@16/umd/react.development.js" crossorigin></script>
  <script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js" crossorigin></script>
</head>
<header class="header">
  <nav id="navbar">
    <div>
      <a href="/"><img style="height: 50px; width: auto;" src="../static/img/transflagsimple.png"
          alt="image of the trans pride flad"></a>
    </div>

    <div id="navtext">
      <h2 class="navtext"><a href="/bowlmates">Find a Bowlmate</a></h2>
      <h2 class="navtext"><a href="/add">Add a Restroom</a></h2>
      <h2 class="navtext"><a href="/user">User Profile</a></h2>
      <h2 class="navtext"><a href="/login">Login</a></h2>
      <h2 class="navtext"><a href="/logout">Logout</a></h2>
    </div>
  </nav>
</header>

<body>
  {% for msg in get_flashed_messages() %}
  <p class="flash-msg">
    {{ msg }}
  </p>
  {% endfor %}
  {% block body %}{% endblock %}
  <script src="../static/js/react.jsx" type="text/jsx"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.0/chart.min.js"></script>
  <script src="../static/js/search.js"></script>
  <script src="../static/js/chart.js"></script>
</body>

</html>