{% extends 'base.html' %}

{% block title %}Restroom Homepage{% endblock %}




{% block body %}

<h1>search for a restroom!</h1>
<form action="/handle-search" id="search-form">
    <p>
        Search: <input id="search-text" type="text" name="search">
    </p>
    
    <p> <input id="search-button" type="submit"></p>

</form>

{% for searched_restroom in searched_restrooms %}
<h2>{{searched_restroom.restaurant_name}}</h2>
{% endfor %}
{% for restroom in restrooms %}
    <div id="restaurant-container">
        <h2>Restaurant Name:
            {{restroom.name}} 
        </h2>
        <h3> Address:
            {{restroom.street}}
        </h3>
        <h3>
            ADA accecible:
            {% if restroom.accessible == True %}
            Yes
            {% endif %}
            {% if restroom.accessible == False %}
            No
            {% endif %}
        </h3>
        <h4><a href="https://www.google.com/maps/place/{{restroom.street}}" target="_blank"> click here to see in google maps
        </a></h4>
    </div>
{% endfor %}

{% endblock %}