{% extends 'base.html' %}

{% block title %}Restroom Homepage{% endblock %}




{% block body %}

<h1>search for a restroom!</h1>
<form action="/handle-search" id="search-form">
    <p>
        Search: <input id="search-text" type="text" name="search">
    </p>

    <p> <input value="Find a restroom!" id="search-button" type="submit"></p>

</form>

{% for searched_restroom in searched_restrooms %}
<div id="restaurant-container">
    <div id="container-text">
        <h2 style="display: inline;"><a href="/restroom/{{searched_restroom.restroom_id}}">{{searched_restroom.restaurant_name}}</a></h2>
        <h4 style="display: inline;">Rating: {{restroom_scores[loop.index0]}}/5</h4>
        <h3> Address:
            {{searched_restroom.address}}
        </h3>
        <h4><a href="https://www.google.com/maps/place/{{searched_restroom.address}}" target="_blank"> click here to see
                in
                google maps
            </a></h4>
        <form id="comment-form" method="POST">
            <input id="hidden-restroom-id" value="{{searched_restroom.restroom_id}}" type="hidden">
            <input id="comment_text" type="text" name="comment_text">
            <input value="add comment" type="submit">
            <select name="rating" id="">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select>
        </form>
        
    </div>
</div>
{% endfor %}
<!-- {% for restroom in restrooms %}
    <div id="restaurant-container">
        <h2>Restaurant Name:
            {{restroom.name}} 
        </h2>
        <h3> Address:
            {{restroom.street}}
        </h3>
        <h3>
            ADA accecible:
            {% if restroom.accessible == True %}
            Yes
            {% endif %}
            {% if restroom.accessible == False %}
            No
            {% endif %}
        </h3>
        <h4><a href="https://www.google.com/maps/place/{{restroom.street}}" target="_blank"> click here to see in google maps
        </a></h4>
    </div>
   

{% endfor %} -->

{% endblock %}