{% extends 'base.html' %}

{% block title %}Restroom Homepage{% endblock %}


{% block body %}

<h1>stuff goes here</h1>
<form action="/handle-search" id="search-form">
    <p>
        Search: <input id="search-text" type="text" name="search">
    </p>
    
    <p> <input id="search-button" type="submit"></p>

</form>
{% for restroom in restrooms %}
    <div id="restaurant-container">
        <h2>Restaurant Name
            {{restroom.name}}
        </h2>
        <h3> Address
            {{restroom.street}}
        </h3>
        <h3>
            ADA accecible
            {% if restroom.accessible == True %}
            Yes
            {% endif %}
            {% if restroom.accessible == False %}
            No
            {% endif %}
        </h3>
    </div>
{% endfor %}

{% endblock %}