{% extends 'base.html' %}

{% block title %}Messagin: {{recipient.username}}{% endblock %}


{% block body %}

<form id="message-form" action="/send/message/{{recipient.user_id}}">
    <input type="text" name="message">
    <input class="search-button" id="{{recipient.user_id}}" type="submit" value="Send Message">
</form>


<ul id="messages">
    {% for message in messages %}

    {% if message.sender == user.username %}
    <div class="my-messages">
        <h4>{{message.sender}}</h4>
        <h3>{{message.message_text}}</h3>
    </div>
    {% endif %}

    {% if message.sender == recipient.username %}
    <div class="recipient-messages">
        <h4>{{message.sender}}</h4>
        <h3>{{message.message_text}}</h3>
    </div>
    {% endif %}
    {% endfor %}
</ul>


{% endblock %}