{% extends 'base.html' %}

{% block title %}Bowlmates{% endblock %}


{% block body %}
<h1>Welcome to Bowlmates.</h1>
<h2>Bowlmates is the newest in hip n dip dating trends. Love experts and scientists and probably even God say you never truely know someone until
    you've shared a toilet seat. We're here to make. that. happen. If you can't handle the passion, back out now, because at 
    Bowlmates, love is made sitting down. So, what'll it be?
</h2>
<form action="/">
    <input id="coward-button" type="submit" value="I'm afraid of intimacy">
</form>

{% if matches %}

{% for match in matches %}

<div>
<h1>{{match.username}}</h1>
<form action="">
    <input type="submit" value="Add Bowlmate">
</form>

</div>

{% endfor %}

{% endif %}
<div id="ReactApp"></div>

{% endblock %}