{% extends 'base.html' %}

{% block title %}Pee Pals{% endblock %}


{% block body %}
<h1>Welcome to Pee Pals.</h1>
<h2>Pee pals is the newest in hip n dip dating trends. Love experts and scientists and probably even God say you never truely know someone until
    you've shared a toilet seat. We're here to make. that. happen. If you can't handle the passion, back out now, because at 
    Pee Pals, love is made sitting down. So, what'll it be?
</h2>
<form action="/find-pals">
    <input type="submit" value="Let's DO this">
</form>
<form action="/">
    <input type="submit" value="I'm afraid of intimacy">
</form>

{% if matches %}

{% for match in matches %}

<h1>{{match.email}}</h1>



{% endfor %}

{% endif %}


{% endblock %}