{% extends 'base.html' %}

{% block title %}User Profile{% endblock %}


{% block body %}
<h1>Friends List</h1>
{% for user in user.following %}

<h2>{{user.username}}</h2>


{% endfor %}


<h1>Your comments will show up here!</h1>
{% for comment in user.comments %}
<div class="comment-box">
    <h5>{{comment.restroom.restaurant_name}}</h5>
    <ul>
        <h2>{{comment.comment_text}}
            {{comment.rating}}/5
        </h2>


        <form action="/delete/comment/{{comment.comment_id}}">
            <input id="delete-comment-button" value="delete" type="submit">
        </form>
</div>
</ul>
{% endfor %}

{% endblock %}